@font-face {
  font-family: 'Muli';
  src: url('../fonts/Muli-VariableFont:wght.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Muli';
  src: url('../fonts/Muli-Italic-VariableFont:wght.ttf');
  font-weight: 900;
  font-style: normal;
}