@import '../theme/fonts';

.brand-title {
  font-family: Muli, source-code-pro, "Comic Sans MS";
  font-weight: 400;
  font-style: italic;
  text-transform: uppercase;
  color: var(--ion-color-tertiary);
}

ion-list-header {
  --background: var(--ion-color-primary);
}
