@import '../theme/fonts';

.brand-title {
  font-family: Muli, source-code-pro, "Comic Sans MS";
  font-weight: 400;
  font-style: italic;
  text-transform: uppercase;
  color: var(--ion-color-tertiary);
}

ion-list-header {
  background-color: var(--ion-color-light-tint);
}

ion-item {
  .flags {
    max-width: 2em;
  }
  .event-label {
    padding-left: .8rem;
  }
}


.event-tags {
  display: flex;
  max-width: 25%;
  ion-img {
    max-width: 2rem;
  }
}
